# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgres://postgres:postgres@localhost:5432/clinica"
PORT=4000
PAYPAL_CLIENT_ID=AUVvzpeGb5BvSBz6bukYfPjb_bPeX7Gph0f7W9ZR9TbVrxYRGxT90i9W-bdzDh-k6SMih3Rl49AxHiEF
PAYPAL_CLIENT_SECRET=EEfYCxwFmGfVLlSiPskmtJD-asCn-30yugjKNdlFbNuJbK9X6ekwQSvx4lH4IHLQRRVl1sAWkR0Jq40p

PAYPAL_MODE=sandbox
APP_KEY=test
